@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans";
  box-sizing: border-box;
}

/* CSS VARIABLES  */
:root {
  --black-1: #0e0e0e;
  --black-2: rgba(14, 14, 14, 80%);
  --black-3: rgba(14, 14, 14, 70%);
  --black-4: rgba(14, 14, 14, 60%);
  --border: rgba(14, 14, 14, 20%);
  --accent: #ddd;
  --white-1: #ffffff;
  --white-2: #f5f5f5;
  --white-3: #f1f1f3;
  --blue-1: #5490f5;
  --blue-2: rgba(84, 144, 245, 20%);
  --green-1: #006a50;
  --green-2: #09a15c;
  --green-3: #c6e4d6;
  --yellow-1: #ffc239;
  --yellow-2: #f7ebcf;
  --font-size-4xl: 3.5rem;
  --font-size-3xl: 2.5rem;
  --font-size-2xl: 2rem;
  --font-size-xl: 1.5rem;
  --font-size-lg: 1.25rem;
  --font-size-md: 1.125rem;
  --grid-cols-4: repeat(4, minmax(0, 1fr));
  --grid-cols-3: repeat(3, minmax(0, 1fr));
  --grid-cols-2: repeat(2, minmax(0, 1fr));
  --transition: all 0.25s ease-in-out;
}

/* DEFAULT COLORS */
body {
  color: var(--black-1);
  background-color: var(--white-3);
}

/* DEFAULT HTML ELEMENTS */
header {
  height: 100px;
  background-color: var(--white-2);
  position: sticky;
  top: 0;
  z-index: 100;
}

main {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: var(--black-1);
}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
  transition: var(--transition);
}

li {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid var(--border);
  padding: 2.5rem 1.5rem;
  text-align: left;
}

/* Highlight row on hover */
tr:hover {
  background-color: var(--accent);
  translate: var(--transition);
}

tbody td:first-child {
  width: 100%;
}

tbody td:nth-child(2) {
  width: 1%;
}

caption {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

footer {
  height: 226px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-1);
}

/* HEADER STYLE  */
header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: var(--font-size-xl);
  font-weight: bold;
}

/* HERO  */
.hero {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  background-color: var(--green-3);
  border-radius: 1.5rem;
}

.hero.left {
  display: flex;
  flex-direction: column;
}

.hero .left p {
  font-size: var(--font-size-xl);
  font-weight: 500;
  text-align: start;
}

.hero h1 {
  margin-top: 1rem;
  font-size: var(--font-size-4xl);
  font-weight: bold;
}

.hero button {
  margin-top: 1.5rem;
}

.hero img {
  width: 325px;

}


/* BUTTONS  */
.btn {
  height: 2.5rem;
  padding-inline: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-lg);
  font-weight: 600;
  border-radius: 0.5rem;
  white-space: nowrap;
}

.btn.green {
  border: none;
  background-color: var(--green-1);
  color: white;
}

.btn.outline {
  border: 2px solid var(--green-1);
  color: var(--green-1);
}

.btn.outline:hover {
  background-color: var(--green-3);
  transition: var(--transition);
}

/* OTHERS  */

.text-secondary {
  color: var(--black-3);
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 1.5rem;
}

.margin-top-3 {
  margin-top: 2rem;
}

.container {
  max-width: 1250px;
  margin-inline: auto;
  padding-inline: 1rem;
  position: relative;
}

.section-heading {
  font-size: var(--font-size-3xl);
  font-weight: bold;
}

.section-margin-top {
  margin-top: 5rem;
}

.pillars ul {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.pillars ul li {
  background-color: var(--white-1);
  border-radius: 1rem;
  padding: 1.5rem;
}

.pillars ul li h4 {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: var(--font-size-lg);
}

.pillars ul li p {
  margin-top: 0.75rem;
  text-align: start;
}

.vision .description {
  text-align: start;
  margin-top: 1.5rem;
}

.vision ul {
  display: grid;
  gap: 1.5rem;
  margin-top: 2rem;
}

.vision ul li {
  background-color: var(--white-1);
  padding: 1.5rem;
  border-radius: 1rem;
}

.vision ul li h4 {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: var(--font-size-lg);
}

.vision ul li p {
  margin-top: 0.75rem;
  text-align: start;
}

.vision ul li button {
  margin-top: 1.5rem;
}

.vision ul li:first-child {
  background-color: var(--blue-2);
}

.vision ul li:first-child button {
  background-color: var(--blue-1);
  color: white;
}

.vision ul li:nth-child(2) button {
  background-color: var(--green-2);
  color: white;
}

.vision ul li:nth-child(2) {
  background-color: var(--green-3);
}

.vision ul li:last-child {
  background-color: var(--yellow-2);
}

.vision ul li:last-child button {
  background-color: var(--yellow-1);
  color: white;
}

.vision .quote {
  background-color: white;
  padding: 4rem 2rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
  border: 1px solid var(--border);
}

.vision .quote .quote-image {
  position: absolute;
  transform: translateY(-50%);
}

.vision .quote p {
  color: var(--black-2);
  text-align: start;
}

.vision .quote h3 {
  font-weight: 600;
  font-size: var(--font-size-md);
  margin-top: 1.5rem;
}

.vision .quote span {
  display: block;
  color: var(--black-4);
  margin-top: 0.25rem;
}

.opinions .card {
  margin-top: 2rem;
  background-color: var(--white-1);
}

.opinions th {
  background-color: var(--green-3);
  font-size: var(--font-size-md);
  font-weight: 600;
}

.opinions td {
  font-weight: 600;
}

.opinions td button {
  border: 2px solid var(--border);
  font-size: 1rem;
  gap: 0.5rem;
  background-color: var(--green-3);
}

.news ul {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.news .section-description {
  text-align: start;
}

.news li {
  background-color: var(--white-1);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1.5rem;
}

.news li h2 {
  font-weight: bold;
  font-size: var(--font-size-2xl);
}

.news li .img {
  border-radius: 1.5rem;
}

.news li .date {
  margin-top: 1rem;
  text-align: start;
}

.news li .description {
  text-align: start;
  margin-top: 1rem;
  color: var(--black-3);
}

.news li button {
  margin-top: 1.5rem;
}

.newsletter {
  padding-inline: 5rem;
  border-radius: 1.5rem;
  background-color: var(--green-3);
  display: flex;
  flex-direction: column;
}



/* RESPONSIVE WITH MEDIA QUERY */

.donate form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate h1, p {
  text-align: center;
}

.donate p {
  margin-top: 1rem;
  color: var(--black-3);
}

.donate ul {
  display: grid;
  gap: 1.5rem;
  margin-top: 2rem;
}

.donate ul li {
  background-color: var(--white-1);
  padding: 2.5rem;
  font-size: var(--font-size-3xl);
  font-weight: bold;
  text-align: center;
  border-radius: 1.5rem;
  border: 1.5px solid var(--border);
}

.donate input {
  margin-top: 2rem;
  height: 4rem;
  width: 100%;
  border: 1.5px solid var(--border);
  padding-inline: 1rem;
  text-align: center;
  font-weight: 500;
  font-size: var(--font-size-md);
}

.donate input::placeholder {
  font-weight: 500;
  font-size: var(--font-size-md);
}

.newsletter {
  padding: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter h1 {
  font-size: var(--font-size-3xl);
}

.newsletter p {
  margin-top: 1rem;
}

.newsletter form {
  margin-top: 2rem;
  width: 100%;
  max-width: 750px;
  display: flex;
}

.newsletter input {
  width: 100%;
  padding-inline: 2rem;
}

.newsletter button {
  border-radius: 0;
}

@media only screen and (min-width: 600px) {
  .pillars .cards {
    grid-template-columns: var(--grid-cols-2);
  }

  .vision ul {
    grid-template-columns: var(--grid-cols-2);
  }

  .vision ul li:last-child {
    grid-column: span 2;
  }

  .logo {
    font-size: var(--font-size-2xl);
  }

  .btn {
    height: 3.25rem;
    padding-inline: 1.875rem;
  }

  .opinions .card {
    padding: 2rem;
    border-radius: 1.5rem;
  }

  .donate ul {
    grid-template-columns: var(--grid-cols-2);
  }
}


@media only screen and (min-width: 800px) {

}


@media only screen and (min-width: 1000px) {
  .hero {
    flex-direction: row;
  }

  .section-heading {
    text-align: center;
  }

  .vision ul {
    grid-template-columns: var(--grid-cols-3);
  }

  .vision ul li:last-child {
    grid-column: span 1;
  }

  .pillars .cards {
    grid-template-columns: var(--grid-cols-4);
  }

  .news ul li {
    flex-direction: row;
    align-items: center;
  }

  .news ul li:nth-child(even) {
    flex-direction: row-reverse;
  }

  .donate ul {
    grid-template-columns: var(--grid-cols-4);
  }
}